/******************************************************************************************************************************************
GENERAL STYLES
******************************************************************************************************************************************/

* {
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

body {
    font-family: 'Merriweather', serif;
    color: rgba(45, 57, 67, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-weight: 400;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 0;
}


/* - - - - - General text styles - - - - - */

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    margin: 0;
}

h3 {
    font-weight: 400;
}

p,
a {
    font-weight: 400;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    text-align: center;
    color: rgba(45, 57, 67, .7);
}

p {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 500;
}

hr {
    display: block;
    width: 100%;
    margin: 2em 0 2em 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(255, 160, 0, 1);
}

hr:first-of-type::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: -10px;
    width: 100%;
    background: rgba(255, 160, 0, 1);
}

.material-icons {
    display: inline-block;
    text-align: right;
    width: 5%;
    font-size: 1.5em;
    vertical-align: sub;
    color: rgba(255, 160, 0, 1);
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    .wrapper {
        margin: 0 auto;
        width: 75%;
    }
}


/* - - - - - - - - - - - - - - - Large Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:1024px) {
    .wrapper {
        margin: 0 auto;
        width: 800px;
    }
}


/******************************************************************************************************************************************
HEADER
******************************************************************************************************************************************/

header {
    width: 100%;
    background: rgba(48, 63, 159, 1);
    margin-bottom: 2em;
    background-image: url('/img/brickwall_@2Xx.png');
    background-repeat: repeat;
}

.logo {
    margin: 0;
    padding: .5em;
    color: rgba(255, 255, 255, 1);
    text-transform: lowercase;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.logo span {
    color: rgba(255, 160, 0, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

@media (min-width:768px) {
    .logo {
        margin: 0;
        padding: 1em;
        color: rgba(255, 255, 255, 1);
    }
}

@media (min-width:1024px) {
    .logo {
        margin: 0;
        font-size: 3em;
        padding: .6em;
        color: rgba(255, 255, 255, 1);
    }
}


/******************************************************************************************************************************************
CONTACT FORM
******************************************************************************************************************************************/


/* - - - - - General form styles - - - - - */

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

input,
select,
textarea {
    width: 100%;
    height: 3em;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, .5);
}

label {
    margin: 5% 0 3.5%;
    padding: 0;
    display: block;
}

legend {
    width: 90%;
    text-align: left;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(45, 57, 67, .9);
}

#zip_code {
    width: 50%;
    max-width: 250px;
}

option {
    margin: 0;
    padding: 0;
}


/* - - - - - input styles - - - - - */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="textarea"],
input,
select,
textarea {
    background: rgba(197, 202, 233, .2);
    border-radius: 5px;
    padding: 0 5%;
    border: 2px solid rgba(255, 255, 255, .0);
    border-radius: 3px;
    color: rgba(0, 0, 0, 1);
    outline: 0;
    height: 3.5em;
    transition: .3s;
}
fieldset:last-of-type label {
    width: 100%;
    margin: 2% 0 2%;
}
#other_topics {
    width: 100%;
}
/* - - - HTML Validation - - - */

input:required:valid,
input:focus:valid {
    border-color: rgba(255, 255, 255, .0);
}

input:required:invalid,
input:focus:invalid {
    border-color: rgba(255, 160, 0, .5);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="textarea"]:hover,
textarea:hover,
select:hover {
    border-color: rgba(197, 202, 233, 1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="textarea"]:focus,
textarea:focus,
select:focus {
    box-shadow: 2px 2px 10px 0px rgba(197, 202, 233, .3);
    border-color: rgba(197, 202, 233, 1);
    background: rgba(197, 202, 233, .5);
}

input[type="textarea"] {
    height: 6em;
}

input[placeholder] {
    text-align: right;
    color: rgba(0, 0, 0, 1);
}


/* - - - - - Button styles - - - - - */

input[type="button"] {
    margin: 2em 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1em;
    background-color: rgba(255, 160, 0, .7);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgba(255, 160, 0, 1);
}

input[type="button"]:active {
    background-color: rgba(255, 111, 0, 1);
}


/* - - - - - Check box/Radio styles - - - - - */


/* - - - unchecked - - - */

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: 7%;
    height: auto;
    display: none;
}

input[type="checkbox"] + label:last-of-type,
input[type="radio"] + label:last-of-type {
    margin-bottom: 1em;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    width: 100%;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background-color: rgba(0, 0, 0, .1);
    border: 3px solid white;
    color: white;
    padding: .5%;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    border-radius: 1px;
    transition: .3s;
}

input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    content: '';
    margin-top: -.5em;
    display: block;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}


/* - - - checked - - - */

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    border: 3px solid white;
    background: rgba(255, 160, 0, .7);
    box-shadow: 0 0 0 0.15em rgba(255, 160, 0, .5);
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    label {
        margin: 4% 0 2%;
        display: inline-block;
        width: 29%;
        float: left;
    }
    label + input, label + select {
        display: inline-block;
        width: 70%;
        margin: 2% 0;
    }
    .collumn label {
        margin: 1% 0 2%;
    }
}


/* - - - - - - - - - - - - - - - Large Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:1024px) {
    .collumn {
        width: 49%;
        display: inline-block;
        margin-top: 1em;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
        margin: 1.5% 0;
    }
}


/******************************************************************************************************************************************
FOOTER
******************************************************************************************************************************************/

footer {
    width: 100%;
    background: rgba(48, 63, 159, 1);
    background-image: url('/img/brickwall_@2Xx.png');
    background-repeat: repeat;
}

footer p {
    padding: 1em;
    color: rgba(255, 255, 255, 1);
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    footer p {
        padding: 2em;
    }
}