/******************************************************************************************************************************************
GENERAL STYLES
******************************************************************************************************************************************/

* {
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

::-moz-selection {
    background: rgba(255, 64, 129, .8);
    color: rgba(255, 255, 255, 1);
}

::selection {
    background: rgba(255, 64, 129, .8);
    color: rgba(255, 255, 255, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 400;
    background: rgba(63, 81, 181, .9);
    max-width: 75em;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-weight: 600;
    margin: 0;
    color: rgba(255, 255, 255, .9);
}

h3 {
    font-weight: 300;
    color: rgba(255, 255, 255, .9);
}

p,
a {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

a:hover {
    color: rgba(255, 128, 171, 1);
}

p {
    display: block;
    width: 100%;
    margin: 1em 0 0;
    padding: 0 0 .2em;
    color: rgba(255, 255, 255, .8);
}

a {
    font-weight: 500;
}

hr {
    display: block;
    width: 100%;
    margin: 3em 0 0 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 1);
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

.section-header {
    font-weight: 600;
    margin: .5em 0 1em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.general-text {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.reveal-mobile {
    display: block;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.reveal-desktop {
    display: none;
}


/******************************************************************************************************************************************
NAVIGATION
******************************************************************************************************************************************/

nav {
    padding: 1em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}


/* - - - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - */

nav h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}


/* - - - - - - - - - - - - - - - Nav - - - - - - - - - - - - - - - */

nav .main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

nav .main-nav a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 1em;
    font-weight: 600;
}

nav .main-nav li {
    display: block;
    padding: 0;
    margin: .3em 0;
    background: rgba(255, 128, 171, .9);
}

nav .main-nav li:last-of-type {
    margin-bottom: 0;
}

nav .main-nav li a:hover {
    background: rgba(63, 81, 181, 1);
    color: rgba(255, 255, 255, 1);
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    nav .main-nav {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    nav .main-nav li {
        display: block;
        padding: 0;
        margin: .3em 0;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 00), 0 1px 2px rgba(0, 0, 0, 0);
    }
    nav .main-nav li a {
        color: rgba(255, 255, 255, 1);
    }
    nav .main-nav li:last-of-type {
        margin-bottom: 0;
    }
    nav .main-nav li a:hover {
        background: rgba(63, 81, 181, 1);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0);
    }
}


/* - - - - - - - - - - - - - - - Large Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:1024px) {
    nav {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    nav .main-nav {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        max-width: 50%;
    }
    nav .main-nav li {
        display: block;
        padding: 0;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    nav .title {
        text-align: left;
        max-width: 50%;
    }
}


/******************************************************************************************************************************************
HEADER
******************************************************************************************************************************************/

.main-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 1em;
}

.main-header .profile-image {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 100%;
    width: 70%;
    margin: 0 0 1em;
    border: 10px solid white;
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    .main-header {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .main-header .profile-image {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        max-width: 100%;
        width: 30%;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .main-header .general-text {
        text-align: left;
        font-size: 1em;
        margin: 0;
        width: 43%;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}


/******************************************************************************************************************************************
PORTFOLIO
******************************************************************************************************************************************/

#portfolio {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 1em;
    background: rgba(63, 81, 181, .9);
}

.portfolio-item {
    margin: 1em 0;
    width: 100%;
    background: rgba(255, 128, 171, .9);
}

.portfolio-item:first-of-type {
    margin: 0 0 1em;
}

.portfolio-item .portfolio-img {
    max-width: 100%;
}

.portfolio-item .portfolio-head {
    text-align: center;
    margin: .5em 0;
}

.portfolio-item .portfolio-copy {
    text-align: center;
    margin: .5em auto;
    width: 90%;
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    #portfolio {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .portfolio-item {
        width: 48%;
    }
    .portfolio-item:first-of-type {
        margin: 1em 0;
    }
    .portfolio-item .portfolio-head {
        margin: .5em 0;
    }
}


/* - - - - - - - - - - - - - - - Large Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:1024px) {
    #portfolio {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .portfolio-item {
        margin: 1em 0;
        width: 32%;
    }
}


/******************************************************************************************************************************************
SKILLS
******************************************************************************************************************************************/

#skills {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 1em;
    background: rgba(255, 128, 171, .9);
}

.skill {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: .5em;
    padding: .75em;
    background: rgba(63, 81, 181, 1);
}

.skill p {
    padding: 0;
    margin: 0;
}


/******************************************************************************************************************************************
FOOTER
******************************************************************************************************************************************/

footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 1em;
}

footer .bottom-nav {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

footer .bottom-nav h3 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

footer .bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

footer .bottom-nav ul li {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/* - - - - - - - - - - - - - - - Medium Screen Styles - - - - - - - - - - - - - - - */

@media (min-width:768px) {
    .reveal-desktop {
        display: block;
    }
    .reveal-mobile {
        display: none;
    }
    footer {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        padding: 1em;
    }
    footer .bottom-nav h3 {
        -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
        flex-grow: 5;
    }
    footer .bottom-nav ul {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
